# ignore directory
bin/
upload/
vendor/
node_modules/
hackable/
var/

# ignore all sub files
*.inc.php
*.csv
*.xls*
*.log

# ignore env file
.env

# ignore package lock files
# ignore composer.lock
package-lock.json

# igonre demo file
demo.*

# igonre log file
*.log*

# igonre sql file
*.sql

# igonre cache file
*.cache
