<footer class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="sitemap">
      {% for menu_item in menu_items %}
      <h4 class="ui inverted header">{{ menu_item.header }}</h4>
      <div class="ui inverted link list">
        {% for item in menu_item.item %}
        <a class="item" href="{{ item.href }}" target="{{ menu_item.target }}">
          {{ item.label }}
        </a>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    <p>
      COPYRIGHT &copy; NICS-TA. All rights reserved. Design by
      <a href="#">yckuo</a>.
    </p>
  </div>
</footer>
