<!doctype html>
{{ flash|raw }}
<h3 class="ui header">Accordion Layout</h3>
<div class="ui styled fluid accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    Shodan
    <div class="ui label">{{ intel_results.shodan.count }}</div>
  </div>
  <div class="content">
    <p style="white-space: pre-wrap">{{ intel_results.shodan.data|json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_SLASHES')) }}</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    VirusTotal
    <div class="ui label">0</div>
  </div>
  <div class="content">
    <p>The results for VirusTotal.</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    Censys
    <div class="ui label">0</div>
  </div>
  <div class="content">
    <p>The results for Censys.</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    Mandiant
    <div class="ui label">0</div>
  </div>
  <div class="content">
    <p>The results for Mandiant.</p>
  </div>
</div>
