<!doctype html>
<!--{{ flash|raw }}-->
<h3 class="ui header">Total Results</h3>
<button class="expand_all ui button">Expand All</button>
<button class="collapse_all ui button">Collapse All</button>
<div class="ui styled fluid accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    Shodan
    <div class="ui label">{{ intel_results.shodan.count }}</div>
  </div>
  <div class="content">
      <!--<p style="white-space: pre-wrap">{{ intel_results.shodan.data|json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_SLASHES')) }}</p>-->
    <blockquote style="overflow-wrap: anywhere">{{ intel_results.shodan.rendered_data|raw }}</blockquote>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    VirusTotal
    <div class="ui label">{{ intel_results.vt.count }}</div>
  </div>
  <div class="content">
      <!--<p style="white-space: pre-wrap">{{ intel_results.vt.data|json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_SLASHES')) }}</p>-->
    <p style="white-space: pre-wrap">{{ intel_results.vt.rendered_data|raw }}</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    Censys
    <div class="ui label">{{ intel_results.censys.count }}</div>
  </div>
  <div class="content">
    <blockquote style="overflow-wrap: anywhere">{{ intel_results.censys.rendered_data|raw }}</blockquote>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    Mandiant
    <div class="ui label">0</div>
  </div>
  <div class="content">
    <p>The results for Mandiant.</p>
  </div>
</div>
