{% extends "layout/main_layout.html" %}

{% block page_content %}
    <div id="page" class="container">
        <div id="content">
            <div class="sub-content show">
                <div class="post intelligence">
                    {{ route.createBreadcrumbs(' &gt; ')|raw }}
                    <h2 class="ui dividing header">Dashboard</h2>
                    <div class="post_cell">
                        <img class="wireframe" src="/images/paragraph.png" alt="paragraph" />
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div> 
{% endblock %}
