{% extends "layout/main_layout.html" %}

{% block page_content %}
    <div id="page" class="container">
      <div id="content">
        <div class="sub-content show">
          <div class="post intelligence">
            {{ route.createBreadcrumbs(' &gt; ')|raw }}
            <h2 class="ui dividing header">Search Portal</h2>
            <div class="post_cell">
              <form class="ui form" action="" method="post">
                <div class="field">
                  <label>關鍵字</label>
                  <div class="ui input">
                    <input
                      type="text"
                      name="query"
                      placeholder="URL, IP address, domain, or file hash"
                      required
                    />
                  </div>
                </div>
                <div class="field">
                  <input type="submit" class="ui button" value="搜尋" />
                  <div class="ui centered inline loader"></div>
                </div>
              </form>
              <p></p>
              <div class="record_content"></div>
            </div>
          </div>
        </div>
        <div style="clear: both"></div>
      </div>
    </div>
{% endblock %}
