body {
  background-color: #dadada;
}

body > .grid {
  height: 100%;
}

.image {
  margin-top: -100px;
}

.column {
  max-width: 450px;
}

.field.left {
  text-align: left;
}

.ui.nics-blue.header {
  color: #0b9593;
}

.ui.nics-blue.button {
  background-color: #0b9593;
  color: #ffffff;
}

.ui.sdc-blue.button:hover {
  background-color: #117692;
  color: #ffffff;
  text-shadow: none;
}
