<!DOCTYPE html>
<div class="item">
    <a class="ui logo icon image" href="/"><img src="/images/logo.png" alt="logo"/></a>
    <a href="/"><b>NICS TIP</b></a>
</div>
{% for menu_item in menu_items %}
    {% for item in menu_item.item %}
    <a class="item" href="{{ item.href }}" target="{{ menu_item.target }}">
          {{ item.label }}
      </a>
    {% endfor %}
{% endfor %}
<div class="item">
    <div class="ui profile dropdown">
        <i class="user icon"></i> &nbsp <div class="text">{{ session.displayname }}</div>
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item" href="/password"><i class="edit icon"></i>修改密碼</a>
            <a class="item" href="/logout"><i class="sign-out icon"></i>登出</a>
        </div>
    </div>
</div>
