<div id="page" class="container">
    <div id="content">
		<div class="sub-content show">
			<div class="post intelligence">
                {{ route.createBreadcrumbs(' > ')|raw }}
                <h2 class="ui dividing header">Dashboard</h2>
				<div class="post_cell">
                    <img class="wireframe" src="/images/paragraph.png">
				</div> <!-- end .post_cell-->
			</div><!--end of .post-->
		</div><!--end of .sub-content-->
		<div style="clear: both;"></div>
	</div><!-- end #content -->
</div> <!--end #page-->
